<main>
  <div class= "container px-5 px-sm-0">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 px-5 px-sm-0 mx-auto">
        <h1>サービス編集</h1>
          <%= form_with model: @service, url: admin_service_path,  method: :patch, local:true do |f| %>
            <table class="table">
              <tr>
                <div class="form-group">  
                  <th><label for="service_name">サービス名</label></th>
                  <th>
                    <%= f.text_field :name, placeholder:"サービス名" %>
                  </th>
                </div>
              </tr>
              <tr>
                <div class="form-group">  
                  <th><label for="service_introduction">サービス内容</label></th>
                  <th>
                    <%= f.text_area :introduction, placeholder:"ここに説明文を記載します" %>
                  </th>
                </div>
              </tr>
              <tr>
                <div class="form-group">  
                  <th><label for="service_price">施工目安時間</label></th>
                  <th>
                    <%= f.text_field:time, placeholder:"半角整数で入力"%>
                  </th>
                </div>
              </tr>
              <tr>
                <div class="form-group">  
                  <th><label for="service_price">目安工賃</label></th>
                  <th>
                    <%= f.text_field:price, placeholder:"10000" %>
                  </th>
                </div>
              </tr>
              <tr>
                <th><%= f.submit '情報編集' %></th>
              </tr>
          </table>
        <% end %>
      </div>
    </div>       
  </div>        
</main>