<h1>サービス詳細</h1>

  <p>サービう：<%= @service.name %></p>
  <p>商品説明：<%= @service.introduction %></p>
  <p>目安工賃：<%= @service.price %></p>
  <p>目安施工時間：<%= @service.time %></p>

<%= link_to "編集する", edit_admin_service_path(@service.id)%>
