<main>
  <div class= "container px-5 px-sm-0">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h4></h4>
        
        <div class="form-group">  
           <label for="column_id">画像</label>
             <%= attachment_image_tag column, :image, :fill, 300, 300, format: 'jpeg' %>
        </div>
        <div class="form-group">  
           <label for="column_name">タイトル</label>        
             <%=@column.title %>
        </div>
        <div class="form-group">  
           <label for="column_id_kana">本文</label>        
             <%=@column.text %>
        </div>
        
        <% if @column.favorited_by?(current_customer) %>
          <p>
            <%= link_to favorite_path(@column), method: :delete do %>
              ♥<%= @column.favorites.count %> いいね
            <% end %>
         </p>
           <% else %>
          <p>
             <%= link_to favorites_path(@column), method: :post do %>
              ♡<%= @column.favorites.count %> いいね
             <% end %>
           </p>
        <% end %>

      </div>
    </div>         
  </div>
</main>    