<main>
  <div class= "container px-5 px-sm-0">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h1>コラム編集</h1>
         <%= form_with model: @column, url: admin_column_path,  method: :patch, local:true do |f| %>
          <table class="table">
              <tr>
                <div class="form-group">  
                  <th><label for="colum_image">画像</label></th>
                  <th>
                    <%= f.attachment_field :image %>
                  </th>
                </div>
              </tr>
              <tr>
                <div class="form-group">  
                  <th><label for="column_title">タイトル</label> </th>
                  <th>
                    <%= f.text_field :title,autofocus: true, id:"inputTitle", placeholder:"タイトル" %>
                  </th>
                </div>
              </tr>
              <tr>
                <div class="form-group">  
                  <th><label for="column_text">本文</label></th>
                  <th>
                    <%= f.text_area :text,id:"inputText", placeholder:"本文" %>
                  </th>
                </div>
              </tr>
              <tr>
                <div class="form-group">  
                  <th><label for="column_tag">タグ</label></th>
                  <th>
                    <%= f.text_area :text,id:"inputText", placeholder:"本文" %>
                  </th>
                </div>
              </tr>
              
              
              <div class="form-group">
                
                   
              </div>
              <tr>
                <th><%= f.submit '変更を保存'%></th>
              </tr>    
          </table>
        <% end %>
      </div>
    </div>       
  </div>        
</main>